vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
elyko/.env

#Bower components
/elyko/public/lib/bower_components

# Intellij
.idea/