.table-header {
    background-color: #B2DFDB;
    height: 56px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
    white-space: nowrap;
}

.table-row {
    height: 56px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
}


.uv-name {
    white-space: normal;
}


.md-sidebar-image-header {
    text-align: center;
}


md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: white;
    color: white;
}

md-input-container .md-errors-spacer{
    min-height: 0px;
}

img {
    display:inline-block;
    margin: 0 auto;
}

@media screen and (max-device-width: 320px) {
    .table-header {
        font-size: 10px;
    }

    .table-row {
        font-size: 10px;
    }
}


