<div layout="column" flex>
    <md-card ng-repeat="uv in student.uvs | filter: filter">

        <div layout="row" layout-padding class="table-header">
            <div layout="column" flex="70" layout-align="center start">
                <span class="uv-name">{{uv.name}}</span>
            </div>
            <div layout="column" flex="15" layout-align="center end">
                <span>{{uv.credits}} ECTS</span>
            </div>
            <div layout="column" flex="15" layout-align="center end">
                <span>{{uv.pivot.grade}}</span>
            </div>

        </div>
        <md-divider></md-divider>
        <div ng-repeat="eval in uv.evaluations">
            <div layout="row" layout-padding class="table-row">
                <div layout="column" flex="70" layout-align="center start">
                    <span class="uv-name">{{eval.name}}</span>
                </div>
                <div layout="column" flex="15" layout-align="center end">
                    <span>{{eval.coefficient}}</span>
                </div>
                <div layout="column" flex="15" layout-align="center end">
                    <span>{{eval.students[0].note}}</span>
                </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </div>


    </md-card>
</div>