<md-card ng-repeat="uv in student.uvs">
    <md-table-container>
        <table md-table>
            <thead md-head style="background-color: #FFC107">
            <tr md-row>
                <th md-column><span>{{uv.name}}</span></th>
                <th md-column md-numeric><span>{{uv.credits}} ECTS</span></th>
                <th md-column md-numeric>{{uv.pivot.grade}}</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="eval in uv.evaluations">
                <td md-cell>{{eval.name}}</td>
                <td md-cell>{{eval.coefficient}}%</td>
                <td md-cell>{{eval.students[0].note}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>